body {
    background-color: black;
}

div.header {
    width:100%;
    overflow:hidden;
  }

h1 {
    animation: header 1s;
    color:whitesmoke;
    font-family: 'Arial Narrow', sans-serif;
    padding-top: 20px;
    padding-left: 50px;
    letter-spacing: 5px;
    text-shadow: 0px 0px 20px grey;
    
}

.mainImg {
    color: grey;
    font-family: Arial Narrow;
    text-align: center;
    padding-top: 0px;
    letter-spacing: 20px;
    text-shadow: 1px 1px 15px grey;
    white-space: nowrap;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    max-width: 100%;
    height: auto;
}

#demo {
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 20px grey;
    color: whitesmoke;
}

footer {
    width:100%;
    overflow:hidden;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
  
    animation: footer 1s;
    font-family: Arial Narrow;
    font-size: small;
    background-color: black;
    color: grey;
    padding-bottom: 20px;
    text-align: right;
    letter-spacing: 3px;
    text-shadow: 0px 0px 8px grey;
}

@media screen and (max-width: 600px) {
    h1 {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 20px;
    }
    .mainImg {
        font-size: 12px;
        letter-spacing: 15px;

    }
    footer p {
        font-size: 6px;
    }
}

@keyframes header {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes footer {
    from {
      margin-right: 0%;
      width: 300%; 
    }
  
    to {
      margin-right: 100%;
      width: 100%;
    }
  }
